
/* colors & contracts */
.navbar-burger{
    color:white;
}
.button.is-primary{
    color:black;
}
span.is-warning{
    color:red;
}

/* links */
.content a{
    text-decoration: underline;
}

.section{
    line-height:1.3rem;
}

.button{
    margin-top:5px;
    margin-bottom:5px;
}